# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/

# IDE
.cursor/
.vscode/
.idea/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/
