<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>WakeFlow benötigt Benachrichtigungen um dich zur richtigen Zeit mit deinem Wecker zu wecken.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
	</array>
	<key>UIBackgroundTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.wakeflow.alarm</string>
	</array>
	<key>NFCReaderUsageDescription</key>
	<string>WakeFlow benötigt NFC um den Alarm durch Scannen deines NFC-Chips zu stoppen.</string>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
		<string>TAG</string>
	</array>
</dict>
</plist>
